<p>
	<h3>Generate short url</h3>
	<p><pre>curl -X POST -d "url=https://www.facebook.com" http://<b>CURRENT_HOST</b>/generator.json</pre></p>
</p>

<p>
	<h3>Retrive original url</h3>
	<p><pre>curl -X GET http://<b>CURRENT_HOST</b>/generator/<b>TOKEN</b>.json</pre></p>
</p>